:root{
    --title-color:#434455;
    --headings-color:#2E2F42;
    --background-color:#FFFFFF;
    --button-fon-color:#F4F4FD;
    --button-hover-color:#4D5AE5;
    --footer-text-color:#E7E9FC;
    --button-studio-color:#404BBF;
}

body{
    font-family: 'Roboto', sans-serif;
    color:var(--background-color);
}
.list {
    list-style: none;
}
.link{
    text-decoration: none;
}
 
/* Header */
.header {
 background:var(--background-color);
}

.accent{
 font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33px;
display: flex;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--button-hover-color);
}

.accent:hover,
.accent:focus{
    color:var(--button-hover-color);
}

.logo {
 text-decoration: none;
font-family: 'Raleway', sans-serif;
 font-weight: 800;
 font-size: 18px;
 line-height: 1.33;
 display: flex;
 align-items: center;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color:var(--headings-color);
}

.logo:hover,
.logo:focus{
 color:var(--headings-color);
}

.header-link {
font-weight: 500;
color:var(--headings-color);
}

.link:hover,
.link:focus{
    color:var(--button-hover-color);
}

.header-contact {
color:var(--title-color);
font-style: normal;
}

/* Main Section 1*/


.caption{
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em; 
}

text{
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
}
.section {
background:var(--headings-color);
}

.section-caption {
font-size: 56px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
color:var(--background-color);
}

/* Section#2 */

.visually-hidden {
 position: absolute;
width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
padding: 0; 
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}

.features-caption {
 color:var(--headings-color);
}
.features-text {
 color: var(--title-color);
}

/* Section#3 */

.activities-title {
 color:var(--headings-color);
}

/* Section#4 */
.title{ 
 font-size: 36px;
 line-height: 1.11;
 text-align: center;
 letter-spacing: 0.02em;
 text-transform: capitalize;
}
 
.team {
background:var(--button-fon-color);
}
.team-caption {
color:var(--headings-color);
}
.team-title {
text-align: center;
color: var(--headings-color);
}
.team-text {
text-align: center;
color:var(--title-color);
}

/* Button */
.button{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;  
    cursor: pointer;
 }
 
 .button.primary{
    color:var(--background-color);
    background:var(--button-hover-color);
 }

 .button.secondary{
    color:var(--button-hover-color);
    background:var(--button-fon-color);
 }

 .button.secondary:hover,
 .button.secondary:focus{
    background:var(--button-fon-color);
    color:var(--button-hover-color);
 }

 .btn:hover,
 .btn:focus{
    background:var(--button-studio-color);
    color:var(--background-color);
 }

/* Footer */
.footer {
background:var(--headings-color);
}

.footer-text {
color:var(--footer-text-color);
}
.footer-logo {
 text-decoration: none;
font-family: 'Raleway', sans-serif;
font-weight: 800;
 font-size: 18px;
 line-height: 1.16;
 display: flex;
 align-items: center;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color:var(--button-fon-color);
 }

.footer-logo:hover,
.footer-logo:focus{ 
 color:var(--button-fon-color);
 }

/* Portfolio */

.galery-title {
    color: var(--headings-color);
}

.galery-text {
    color: var(--title-color);
}

